#main{
    border-radius: 30px;
    text-align: center;
    background-color:#4a28ea;
    background-size: auto;
    vertical-align: bottom;
    width:auto;
}
h1{
    padding-top:2%;
    font-family: 'Original Surfer', cursive;
    font-size:3vw;
    color:#fff;
}
h3{
    font-family: 'Original Surfer', cursive;
    font-size:1.5vw;
    font-style:oblique;
    color:#fff;
}
a{
    color:#00FF00;
    font-family: 'Original Surfer', cursive;
}
#img-caption{
    font-family: 'Dancing Script', cursive;
}
article{
    font-family: 'Original Surfer', cursive;
    font-size:1.2vw;
    display:flex;
    flex-direction: column;
    color:#fff;
    text-align: justify;!important;
    padding:0 15% 0 15%;
}
#image{
    border-radius: 10px;
    width:60%;
    height:60%;
}
#img-div{
    margin:5% 10% 5% 10%;
    padding:2% 5% 2% 5%;
    border-radius: 30px;
    background-color:#fff;
}
